
/deep/ .ui-button-icon-only {
    padding: 0 !important;
}



.body-area {
    width: calc(100% - 30px);
    height: calc(100% - 40px - 20px);
    padding: 15px;
    background-color: #ebebeb;
}



.schedule {
    float: left;
    width: calc(100% - 300px - 30px);
    height: calc(100% - 30px - 200px);
}

.health-graph {
    float: left;
    width: calc(100% - 300px - 30px);
    height:200px;
    margin-top: 30px;
}

.right-side-panel {
    float: right;
    width: 300px;
    height: 100%;
    background-color: white;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
    .schedule {
        width: calc(100% - 200px - 30px);
    }

    .health-graph {
        width: calc(100% - 200px - 30px);
    }

    .right-side-panel {
        width: 200px;
    }
}


    .right-side-panel .tabs {
    }

    .right-side-panel /deep/ .ui-tabview {
        height: calc(100%);
        padding: 0;
    }

    .right-side-panel /deep/ .ui-tabview-panels {
        height: calc(100% - 40px);
    }

    .right-side-panel /deep/ .ui-tabview-panel {
        height: 100%;
        padding: 0;
    }
