.elem-wrapper {
    float: left;
    clear: both;
    display:table;
}

.connection-div {
    height:100%;
    display:table-cell;
    vertical-align:top;
}
    .connection-div .connection-tracer {
        border-left: solid 1px black;
        border-bottom: solid 1px black;
        float: right;
        width: 22px;
        height: 17px;
        padding-top: 10px;
    }

.feature-selection-elem
{
    margin-top:10px;
    display:inline-block;
    overflow:auto; 
    border-radius: 3px;
    padding: 5px;
    width: 180px;
    
    cursor: pointer;
    vertical-align: middle;

    background: #F9F9F9;
    vertical-align:middle;

}

.attributeValuesPlaceHolder {
    border-radius: 0 0 3px 3px;
    background: #f8f8f8;
    border: 1px solid #ededed;
    width: 190px;
}

.feature-selection-elem .checkbox {
    width:18px;
    height:18px;
    float:right;
    
}
.feature-selection-elem label {
    display:inline-block;
    font-family:Arial;
    font-size:12px;
    color:gray;
    float:left;
    margin-left:8px;
    margin-top:3px;
    cursor:pointer;
}

.feature-selection-elem[SelectionState=Unselected]
{
    background: #F9F9F9;
    border: 1px solid #F2F2F2;
}
.feature-selection-elem[SelectionState=Unselected] .checkbox
{
    background:url(/Content/Images/Controls/unchecked.png) no-repeat right top;
}
.feature-selection-elem[SelectionState=Unselected] label
{
}
.feature-selection-elem[SelectionState=Unselected]:hover
{
    background: #EEEEEE;
    border: 1px solid #E2E2E2;
}

.feature-selection-elem[SelectionState=Selected]
{
    background-color:  #E2E2E2;
    border: 1px solid #dbd9d9;
}
.feature-selection-elem[SelectionState=Selected] .checkbox
{
    background:url(/Content/Images/Controls/checked.png) no-repeat right top;
}
.feature-selection-elem[SelectionState=Selected] label
{
    color:black;
}
.feature-selection-elem[SelectionState=Selected][ToggledByUser=true]
{
    background: #E3F7B7;
    border: 1px solid #b9ca96;
}
.feature-selection-elem[SelectionState=Selected][ToggledByUser=true]:hover
{
    background: #d9f796;
    border: 1px solid #7e8e5c;
}
.feature-selection-elem[SelectionState=Selected][Disabled=true] .checkbox
{
    background:url(/Content/Images/Controls/checked-disabled.png) no-repeat right top;
}
.feature-selection-elem[SelectionState=Selected][Disabled=true] label
{
    color:#AAAAAA;
}


.feature-selection-elem[SelectionState=Deselected]
{
    background-color:  #E2E2E2;
    border: 1px solid #dbd9d9;
}
.feature-selection-elem[SelectionState=Deselected] .checkbox
{
    background:url(/Content/Images/Controls/deselected.png) no-repeat right top;
}
.feature-selection-elem[SelectionState=Deselected] label
{
    color:gray;
}
.feature-selection-elem[SelectionState=Deselected][ToggledByUser=true]
{
    background: #FFF2F3;
    border: 1px solid #ff7a83;
}
.feature-selection-elem[SelectionState=Deselected][ToggledByUser=true]:hover
{
    background: #fedee0;
    border: 1px solid #f65d67;
}
.feature-selection-elem[SelectionState=Deselected][Disabled=true] .checkbox
{
    background:url(/Content/Images/Controls/deselected-disabled.png) no-repeat right top;
}
.feature-selection-elem[SelectionState=Deselected][Disabled=true] label
{
    color:#AAAAAA;
}

.feature-selection-elem[Disabled=true],
.feature-selection-elem[Disabled=true] label
{
    cursor:default !important;
}

