<div class="elem-wrapper">
    <div class="connection-div">
        <div *ngIf="IsRoot===false" class="connection-tracer"></div>
    </div>
    <div (click)="onClicked()" class="feature-selection-elem" attr.SelectionState="{{getSelectionState()}}" attr.Disabled="{{getDisabled()}}" attr.ToggledByUser="{{getToggledByUser()}}">
        <label>{{FeatureSelectionCLO.FeatureName}} </label>
        <div class="checkbox"></div>
    </div>
    <div #attributeValuesPlaceHolder class="attributeValuesPlaceHolder" *ngIf="FeatureSelectionCLO?.SelectionState===1 && FeatureSelectionCLO?.AttributeValues.length>0">
        <attribute-value-elem *ngFor="let attrValue of FeatureSelectionCLO?.AttributeValues" [AttributeValueCLO]="attrValue">
        </attribute-value-elem>
        <div style="clear:both"></div>
    </div>


    <div class="children-div">

        <feature-selection-elem *ngFor="let childFeatureSel of FeatureSelectionCLO.ChildFeatureSelections"
                                [OnClickHandler]="OnClickHandler"
                                [FeatureSelectionCLO]="childFeatureSel">
        </feature-selection-elem>

        <group-elem *ngFor="let childGroup of FeatureSelectionCLO.ChildGroups"
                                [OnClickHandler]="OnClickHandler"
                                [GroupCLO]="childGroup">
        </group-elem>
    </div>
</div>

