.elem-wrapper {
    float: left;
    clear: both;
    display:table;
}

.connection-div {
    height:100%;
    display:table-cell;
    vertical-align:top;
}
    .connection-div .connection-tracer {
        border-left: solid 1px black;
        border-bottom: solid 1px black;
        float: right;
        width: 12px;
        height: 17px;
        padding-top: 10px;
    }

.group-elem
{
    margin-top:10px;
    display:inline-block;
    vertical-align:middle;

    border-radius: 8px;
    border:dashed 1px #aeaeae;
    padding: 5px;
    background-color:white;
    
    padding-bottom:15px;
    width:250px;
}

