<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4" version="4.6.5" targetFramework="net461" developmentDependency="true" />
  <package id="Antlr4.CodeGenerator" version="4.6.5" targetFramework="net461" developmentDependency="true" />
  <package id="Antlr4.Runtime" version="4.6.5" targetFramework="net461" />
  <package id="AutoMapper" version="4.2.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="z3x86win" version="4.5.0.1" targetFramework="net461" />
</packages>