@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section bodyscripts{
    <script type="text/javascript">
        requirejs.config({
            baseUrl: "js/spa/",
            urlArgs: "bust=" + (new Date()).getTime()
        });
                        //require(["Main/Controller"], function (Controller) {
                        //    var controller = new Controller();
                        //    controller.Initialize();
                        //    controller.NewModel();
                        //});
    </script>
}

    <div id="sidePanel">
        <div id="modelExplorerContainer">
        </div>
    </div>
    <div id="mainPanel">
        <div id="toolBarContainer">
        </div>
        <div id="visualViewContainer">
        </div>
        <div id="propertyEditorContainer">
        </div>
    </div>
