<div id="frame">
    <div id="headerArea">
        <div id="topMenuBar">
            <div id="logo">
            </div>
            <!--<button pButton type="button" label="Choose model file" id="choose-model-btn"></button>-->

            <!--<p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="myUploader($event)"></p-fileUpload>-->
            <input #filePicker type="file" (change)="upload($event)" accept=".xml" />
        </div>
    </div>
    <div id="bodyArea">
        <configuration-editor></configuration-editor>


    </div>
</div>
<div #coreComponentsPlaceHolder>

</div>


