@{
    Layout = "~/Views/Shared/_Master.cshtml";
}
@section bodyscripts{
    @RenderSection("bodyscripts", false)
}

<div id="frame">
    <div id="headerArea">
        <div id="topMenuBar">
            <div id="logo">
            </div>
            <div id="topMenuContainer">

            </div>
            
        </div>
        
    </div>
    <div id="bodyArea">
        @RenderBody()
    </div>
</div>
