<div class="attribute-value-elem">
    <span class="attribute-name">
        {{AttributeValueCLO?.AttributeName}}
    </span>
    <div>

        <input *ngIf="AttributeValueCLO?.AttributeType===2" #valueTextBox class="value-textbox" type="text"  
               id="{{AttributeValueCLO?.AttributeIdentifier}}" 
               value="{{AttributeValueCLO?.Value}}"
               (change)="onChanged(valueTextBox.value)"
               />
        <span *ngIf="AttributeValueCLO?.AttributeType!==2" #valueLabel class="value-label" id="{{AttributeValueCLO?.AttributeIdentifier}}">
            {{AttributeValueCLO?.Value}}
        </span>
    </div>
</div>