<div class="configuration-editor">

    <div>
        <span class="modelName" style="float:left" *ngIf="configInstanceCLO">{{configInstanceCLO.ModelName}}</span>
        <button style="float:right"
                (click)="showSMTDynamic=!showSMTDynamic"
                *ngIf="configInstanceCLO">
            Toggle SMT representation
        </button>

    </div>

    <!--<button (click)="onSaveButtonClicked()" >Save Configuration</button>-->

    <div #configurationInstancePlaceHolder class="configurationInstancePlaceHolder">
    </div>
    <div *ngIf="configInstanceCLO && showSMTDynamic" class="smt-text-placeholder">
        <h2>Dynamic SMT - user decisions</h2>
        <span>{{SMTDynamicText}}</span>
    </div>
    <div *ngIf="configInstanceCLO && !showSMTDynamic" class="smt-text-placeholder">
        <h2>Static SMT - constraints and variables</h2>
        <span>{{configInstanceCLO.SMTStaticText}}</span>
    </div>
</div>