.configuration-editor
{
    border-radius: 0 0 4px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    padding: 10px;
    padding-bottom: 5px;
    border: solid 1px #F3F3F3;
    border-top: none;
}

.modelName {
    display:block;
    padding-bottom:15px;
    font-weight:bold;
}

.configurationInstancePlaceHolder {
    width:60%;
    float:left;
}

.smt-text-placeholder {
    background-color:#f8ea98;
    width: 35%;
    float: right;
    padding:10px;
    border-radius:5px;

}

    .smt-text-placeholder h2 {
        margin-top:0;
    }
.smt-text-placeholder span {
    font-family:Arial;
    font-size:12px;

}