.elem-wrapper {
    float: left;
    clear: both;
    display:table;
}

.connection-div {
    height:100%;
    display:table-cell;
    vertical-align:top;
}
.connection-div .connection-tracer{
    border-left:dotted 2px #EEEEEE;
    border-bottom:dotted 2px #EEEEEE;
    float:right;
    width:12px;
    height:17px;
    padding-top:10px;
}

.group-elem
{
    margin-top:10px;
    display:inline-block;
    vertical-align:middle;

    border-radius: 8px;
    border:solid 1px #DDDDDD;
    background-color:#F5F5F5;
    padding: 5px;
    
    
    padding-bottom:15px;
}

